default go
prompt 0
timeout 0
display boot.msg
F1 boot.msg
F2 options.msg
F3 general.msg
F4 param.msg
F5 rescue.msg
label go
  kernel vmlinuz
  #append initrd=initrd.img ks=http://nces-sat-01.domain.org/ks/cfg/org/1/label/nces-sb-vm-05 ksdevice=eth0 ip=x.x.72.151 gateway=x.x.72.1 netmask=255.255.255.0 dns=x.x.132.20
  append initrd=initrd.img ks=http://nces-sat-01.domain.org/cblr/svc/op/ks/profile/dev-<PROFILE>:1:rhnacct ksdevice=eth0 lang=   text ip=<IP> kssendmac gateway=x.x.72.1 netmask=255.255.255.0 dns=x.x.132.20
label linux
  kernel vmlinuz
  append initrd=initrd.img
label text
  kernel vmlinuz
  append initrd=initrd.img text
label ks
  kernel vmlinuz
  append ks initrd=initrd.img
label local
  localboot 1
label memtest86
  kernel memtest
  append -

