#!/usr/bin/python -tt
config_opts['root'] = 'rhel-repo'
config_opts['target_arch'] = 'x86_64'
config_opts['chroot_setup_cmd'] = 'install bash bzip2 coreutils cpio diffutils epel-release findutils gawk gcc gcc-c++ grep gzip info make patch redhat-rpm-config rpm-build sed shadow-utils tar unzip util-linux-ng which xz'
config_opts['dist'] = 'el7'  # only useful for --resultdir variable subst

config_opts['yum.conf'] = """
[main]
cachedir=cache
debuglevel=1
logfile=/dev/null
reposdir=/dev/null
retries=20
obsoletes=1
gpgcheck=0
assumeyes=1

