* {
    margin: 0px;
    padding: 0px;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
    margin: 0;
    padding: 0;
}
a {
	color: #000000;
	text-decoration: none;
	cursor: default;
}
ul {
    list-style-type: none;
    padding-top: 5px;
    padding-left: 20px;
}

ol {
    list-style-type: none;
    padding-left: 20px;
}

dl {
    float: left;
    padding-right: 50px; 
    padding-top: 5px;
}

dl, dt, dd {
    width: auto;
    margin-right: 10px;
    margin-left: 10px;
}

dt {
    float: left;
}

dd {
   font-weight: bold;
}

dl dd dl dt {
    width: auto;
    font-weight: normal;
}

dl dd dl dd {
    padding-left: 160px;
    font-weight: bold;
}

.interface dd {
    padding-left: 150px;
}

.title {
    font-weight: bold;
}

.toggle {
    padding-left: 15px;
}

.details {
    padding-top: 5px;
}

.details dt {
    float: none;
}

.details dd {
    padding-left: 25px;
}

.details dl dd {
    padding-left: 40px;
}

#wrap {
    min-height: 100%;
}

#header {
    width: 100%;
    color: #000000;
    overflow: hidden;
}

#secstate {
    height: 50px;
    width: 255px;
    float: left;
    padding-left: 10px;
    padding-bottom: 13px;
}

#secstate h1 {
    padding: 0px;
    margin: 0px;
    display: inline;
    font-weight: bold;
    font-size: 30px;
}

#info {
    clear: both;
    color: #000000;
    padding-top: 5px;
    padding-bottom: 5px;
    overflow: hidden;
}

#nav {
	visibility: hidden;
}

#results {
    width: 100%;
    position: relative;
    float: left;
    clear: both;
    padding-top: 10px;
}

#tree li {
    float: left;
    clear: both;
    padding: 5px;
}

#footer {
    height: 20px;
    position: relative;
    margin-top: -25px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    background: none;
    clear: both;
}

#tresys {
    position: relative;
    float: left;
}

#version {
    position: relative;
    float: right;
}

dl#help {
    padding-top: 20px;
}

dl.help {
    padding-bottom: 30px;
}

.help dt {
    font-weight: bold;
    padding-top: 5px;
}

.help dd {
    padding-top: 5px;
    font-weight: normal;
}

#about dl dt {
    width: 100%;
    padding-bottom: 5px;
    font-weight: bold;
}

#about dl dd {
    padding-bottom: 20px;
    padding-left: 20px;
    font-weight: normal;
}

dl#faq {
    margin-left: 0px;
    width: 100%;
}

dl#faq dt {
    font-weight: bold;
    padding-bottom: 10px;
    padding-left: 0px;
}

dl#faq dd {
    font-weight: normal;
    padding-left: 2px;
}

.ovalid {
    font-weight: normal;
    color: #666666;
}

.other {
    padding-left: 5px;
}

.result {
    margin-left: 0px;
    padding-top: 0px;
}

.result dt {
    margin-left: 0px;
    float: left;
}

.result dd {
    font-weight: normal;
    padding-left: 115px;
}

.ovalid {
    font-weight: normal;
    color: #666666;
    font-size: 11px;
}

ol.test {
    list-style-type: decimal;
    padding-left: 40px;
    padding-top: 5px;
}

.summary dd {
    color: #000000;
    font-weight: normal;
}

.white {
    color: #000000;
}

.counter {
    font-size: 10px;
    text-decoration: underline;
}
