* {
    margin: 0px;
    padding: 0px;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
    margin: 0;
    padding: 0;
}

a {
    color: #ffffff;
    text-decoration: none;
    outline: none;
}

a:hover {
    color: #C00000;
}

a:active {
    outline: none;
}

a .title {
    color: #000000;
    text-decoration: underline;
    outline: none;
}

a:hover .title {
    color: #C00000;
}

a .normal_link {
    color: #0000C0;
    text-decoration: underline;
}

a:hover .normal_link {
    color: #C00000;
}

ul {
    list-style-type: none;
    padding-top: 5px;
    padding-left: 20px;
}

ol {
    list-style-type: none;
    padding-left: 20px;
}

dl {
    float: left;
    padding-top: 5px;
}

dl, dt, dd {
    width: auto;
    margin-right: 10px;
    margin-left: 10px;
}

dt {
    float: left;
}

dd {
   font-weight: bold;
}

dl dd dl dt {
    font-weight: normal;
}

dl dd dl dd {
    padding-left: 160px;
    font-weight: bold;
}

.interface dd {
    padding-left: 150px;
}

.title {
    font-weight: bold;
}

.toggle {
    cursor: pointer;
    padding-left: 15px;
    background: url('../img/toggle.png') no-repeat 0 3px;
}

.details {
    padding-top: 5px;
}

.details dt {
    float: none;
}

.details dd {
    padding-left: 25px;
}

.details dl dd {
    padding-left: 40px;
}

.details td {
    padding-left: 20px;
}

.tested {
    width: 100%;
}

#wrap {
    min-height: 100%;
}

#header {
    width: 100%;
    background-color: #000000;
    color: #ffffff;
    padding-top: 5px;
    overflow: hidden;
}

#logo {
    height: 50px;
    width: 150px;
    position: relative;
    float: left;
    margin-left: 10px;
    margin-bottom: 5px;
    background: url('../img/tresysSmall.png') no-repeat;
}

#push {
    height: 50px;
    width: 100%;
}

#secstate {
    height: 50px;
    width: 255px;
    color: #ffffff;
    float: left;
    padding-left: 10px;
    padding-bottom: 13px;
}

#secstate h1 {
    padding: 0px;
    margin: 0px;
    display: inline;
    font-weight: bold;
    font-size: 30px;
}

#info {
    background-color: #666666;
    color: #000000;
    padding-top: 5px;
    padding-bottom: 10px;
    overflow: hidden;
    clear: both;
}

#nav {
    height: 40px;
    padding-top: 20px;
    float: right;
}

#nav a {
   margin-top: 15px;
   margin-right: 20px; 
   float: right;
}

#interfaces {
    clear: both;
}

#interfaces dd {
    color: #ffffff;
    font-weight: normal;
}

#results {
    width: 100%;
    position: relative;
    float: left;
    clear: both;
    padding-top: 10px;
    overflow: auto;
    padding-bottom: 25px;
}

#tree li {
    float: left;
    clear: both;
    padding: 5px;
}

#footer {
    height: 20px;
    position: relative;
    margin-top: -25px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    background: #666666;
    clear: both;
}

#tresys {
    position: relative;
    float: left;
}

#version {
    position: relative;
    float: right;
}

dl#help {
    padding-top: 20px;
}

dl.help {
    padding-bottom: 30px;
}

.help dt {
    font-weight: bold;
    padding-top: 5px;
}

.help dd {
    padding-top: 5px;
    font-weight: normal;
}

#about dl dt {
    width: 100%;
    padding-bottom: 5px;
    font-weight: bold;
}

#about dl dd {
    padding-bottom: 20px;
    padding-left: 20px;
    font-weight: normal;
}

dl#faq {
    margin-left: 0px;
    width: 100%;
}

dl#faq dt {
    font-weight: bold;
    padding-bottom: 10px;
    padding-left: 0px;
}

dl#faq dd {
    font-weight: normal;
    padding-left: 2px;
}

.other {
    padding-left: 5px;
}

.result {
    margin-left: 0px;
    padding-top: 0px;
}

.result dt {
    margin-left: 0px;
    float: left;
}

.result dd {
    font-weight: normal;
    padding-left: 115px;
}

.ovalid {
    font-weight: normal;
    color: #666666;
    font-size: 11px;
}

ol.test {
    list-style-type: decimal;
    padding-left: 40px;
    padding-top: 5px;
}

.summary dd {
    color: #ffffff;
    font-weight: normal;
}

.white {
    color: #ffffff;
}

.counter {
    font-size: 10px;
    text-decoration: underline;
}
